<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingTesterXtra.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyPing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PingTesterXtra.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>google.com</value>
            </setting>
        </PingTesterXtra.Properties.Settings>
        <MyPing.Properties.Settings>
            <setting name="Frequency" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>google.com</value>
            </setting>
        </MyPing.Properties.Settings>
    </userSettings>
</configuration>